/* Padding */
/* Sizing */
/* Spacing */
/* Border Radius */
/* html {
    font-size: 62.5%;
} */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Padding */
/* Sizing */
/* Spacing */
/* Border Radius */
body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #777;
  line-height: 1.7;
  padding: 30px;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
  /* To prevent child animated element from shaking effect at the end */
  backface-visibility: hidden;
}

.heading-primary--main {
  display: block;
  font-size: 3.75rem;
  font-weight: 400;
  letter-spacing: 35px;
  animation: moveInLeft 1s ease-in-out;
}

.heading-primary--sub {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 17.4px;
}

.heading-secondary {
  display: inline-block;
  font-size: 2.18rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  letter-spacing: 2px;
  color: transparent;
  transition: all 0.2s;
}

.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 1.87rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.u-center-text {
  text-align: center;
}

.u-margin-bottom-xl {
  margin-bottom: 5rem;
}

.u-margin-bottom-s {
  margin-bottom: 1rem;
}

.u-margin-top-xl {
  margin-top: 5rem;
}

.u-margin-top-xxl {
  margin-top: 6.25rem;
}

/* Padding */
/* Sizing */
/* Spacing */
/* Border Radius */
.btn {
  /* Animated Buttons */
  /* White Buttons */
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.93rem 2.5rem;
  display: inline-block;
  border-radius: 50vw;
  position: relative;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 50vw;
  z-index: -1;
  transition: all 0.4s;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-in-out 0.5s;
  /* Apply the animation start before the delay timer trigers */
  animation-fill-mode: backwards;
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
}

.btn--green {
  background-color: #55c57a;
  color: #fff;
}

.btn--green::after {
  background-color: #55c57a;
}

.btn-text:link, .btn-text:visited {
  font-size: 1rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

/* Padding */
/* Sizing */
/* Spacing */
/* Border Radius */
.composition {
  position: relative;
  transition: all 0.2s;
}

.composition__photo {
  width: 55%;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
  outline-offset: 1.25rem;
  transition: all 0.2s;
}

.composition__photo--p1 {
  left: 0;
  top: -20px;
}

.composition__photo--p2 {
  right: 0;
  top: 20px;
}

.composition__photo--p3 {
  left: 20%;
  top: 6.25rem;
}

.composition__photo:hover {
  outline: 1rem solid #55c57a;
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 25px 40px black;
  z-index: 11;
}

.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

/* Padding */
/* Sizing */
/* Spacing */
/* Border Radius */
.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 0.93rem;
  padding: 1.56rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0.93rem 2.5rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

.feature-box__icon {
  font-size: 3.75rem;
  margin-bottom: 5px;
  display: inline-block;
  background-image: linear-gradient(to right, #28b485, #7ed56f);
  -webkit-background-clip: text;
  color: transparent;
}

.feature-box:hover {
  transform: translateY(-0.93rem) scale(1.03);
}

/* Padding */
/* Sizing */
/* Spacing */
/* Border Radius */
.card {
  position: relative;
  perspective: 100rem;
  -moz-perspective: 100rem;
  height: 34rem;
}

.card__side {
  position: absolute;
  top: 0;
  left: 0;
  height: 34rem;
  width: 100%;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: #fff;
}

.card__side--back {
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2988ff, #5643fa);
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  height: 14.37rem;
  background-blend-mode: screen;
  --webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}

.card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
}

.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2988ff, #5643fa), url(../img/nat-7.jpg);
}

.card__heading {
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 7.5rem;
  right: 1.25rem;
  text-align: right;
  width: 70%;
}

.card__heading-span {
  padding: 10px 0.92rem;
  -webkit-box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}

.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 136, 255, 0.85), rgba(86, 67, 250, 0.85));
}

.card__details {
  padding: 1.87rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin-inline: auto;
}

.card__details ul li {
  text-align: center;
  font-size: 0.93rem;
  padding: 0.92rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 5rem;
}

.card__price-only {
  font-size: 0.87rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 3.75rem;
}

/* Padding */
/* Sizing */
/* Spacing */
/* Border Radius */
.row {
  max-width: 75.25rem;
  margin-inline: auto;
}

.row:not(:last-child) {
  margin-bottom: 5rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^=col-] {
  float: left;
}

.row [class^=col-]:not(:last-child) {
  margin-right: 3.75rem;
}

.row .col-1-of-2 {
  width: calc((100% - 3.75rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 3.75rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 3.75rem) / 3) + 3.75rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 3.75rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 3.75rem) / 4) + 3.75rem);
}

.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 3.75rem) / 4 + (2* 3.75rem));
}

/* Padding */
/* Sizing */
/* Spacing */
/* Border Radius */
.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  --webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.header__logo {
  width: 35px;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.section-about {
  background-color: #f7f7f7;
  padding-block: 15.62rem;
  margin-top: -20vh;
}

.section-features {
  padding: 12.5rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  margin-top: -5rem;
  transform: skewY(-7deg);
}
.section-features > * {
  transform: skewY(7deg);
}

.section-tours {
  background-color: #f7f7f7;
  padding: 15.62rem 0 9.36rem 0;
  margin-top: -6rem;
}

/*# sourceMappingURL=style.css.map */
