// COLORS
$clr-white: #fff;
$clr-black: #000;
$clr-grey-dark: #777;
$clr-grey-light-1: #f7f7f7;
$clr-grey-light-2: #eee;
$clr-primary: #55c57a;
$clr-primary-light: #7ed56f;
$clr-primary-dark: #28b485;

$clr-secondary-light: #ffb900;
$clr-secondary-dark: #ff7730;

$clr-tertiary-light: #2988ff;
$clr-tertiary-dark: #5643fa;

$clr-green-light-transparent: rgb($clr-primary-light, .8);
$clr-green-dark-transparent: rgb($clr-primary-dark, .8);

$ff-body: 'Lato', sans-serif;

// FONT SIZE
$fs-200: .87rem; // 14px
$fs-300: .93rem; // 15px
$fs-400: 1rem; // 16px
$fs-500: 1.25rem; // 20pxx
$fs-600: 1.75rem; // 25px 
$fs-700: 1.87rem; // 30px
$fs-800: 2.18rem; // 35px
$fs-900: 3.75rem; // 60px

// FONT WEIGHT
$fw-400: 400;
$fw-700: 700;
$fw-900: 900;

/* Padding */
$padding-body: 30px;
$padding-btn: .93rem 2.5rem;
$padding-section-about: 15.62rem;
$padding-section-features: 12.5rem;
$padding-section-tours: 15.62rem 0 9.36rem 0;
$padding-section-stories: 9.37rem 0;
$padding-section-book: 9.37rem 0;

/* Spacing */
$spacing-heading-800: 35px;
$spacing-heading-500: 17.4px;

/* Border Radius */
$border-radius-1: 3px;
$btn-border-radius: 50vw;



// SIZING
$logo-width: 35px;

// grid
$grid-width: 75.25rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 3.75rem;
