@use '../abstracts' as *;

.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $clr-white;
        height: 4.37rem;
        width: 4.37rem;
        position: fixed;
        top: 3.75rem;
        right: 3.75rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 .62rem 1.87rem rgb($clr-black, .1);
        text-align: center;
        cursor: pointer;   
    }

    &__background {
        height: 3.75rem;
        width: 3.75rem;
        border-radius: 50%;
        position: fixed;
        top: 4.06rem;
        right: 4.06rem;
        background-image: radial-gradient($clr-primary-light, $clr-primary-dark);
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;

        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        @include centerDiv;
        list-style: none;
        text-align: center;
        width: 100%;
    }
    
    &__item {
        margin: .62rem;
    }
    
    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: $fs-700;
            font-weight: $fw-300;
            padding: .62rem 1.25rem;
            color: $clr-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 50%, $clr-white 50%);
            background-size: 220%;
            transition: all .4s;

            span {
                display: inline-block;
                margin-right: .62rem;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $clr-primary;
            transform: translateX(.62rem);
        }
    }

    // FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }
    
    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    // NAVIGATION ICON
    &__icon {
        position: relative;
        margin-top: 2.1rem;
        
        &,
        &::before,
        &::after {
            display: inline-block;
            width: 1.87rem;
            height: 2px;
            background-color: $clr-grey-dark-3;
            border-radius: 50vw;
            transition: all .2s;
        }
        
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;            
        }

        &::before {
            top: -.55rem;
        }

        &::after {
            top: .55rem;
        }
    }

    &__button:hover &__icon::before {
        top: -.63rem;         
    }

    &__button:hover &__icon::after {
        top: .63rem;         
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        transform: rotate(135deg);
        top: 0;
    }
    
    &__checkbox:checked + &__button &__icon::after {
        transform: rotate(-135deg);
        top: 0;
    }

}