.u-center-text { text-align: center !important; }


// MARGIN TOP
.u-margin-top-s { margin-top: 1rem; }

.u-margin-top-m { margin-top: 2.5rem !important; }

.u-margin-top-l { margin-top: 5rem !important; }

.u-margin-top-xl { margin-top: 6.25rem !important; }

.u-margin-top-xxl { margin-top: 8rem !important; }


// MARGIN BOTTOM

.u-margin-bottom-s { margin-bottom: 1rem !important; }

.u-margin-bottom-m { margin-bottom: 2.5rem !important;}

.u-margin-bottom-l { margin-bottom: 5rem !important; }

.u-margin-bottom-xl { margin-bottom: 6.25rem !important; }

.u-margin-bottom-xxl { margin-bottom: 8rem !important; }





// ⭕ Start day: 19 Aug ⭕

// 1. @~Nzubechukwu  -                36WPM / 98%
// 2. @~Jhohn  -                             35WPM / 99%
// 3. @Anthonya DCTP StuBud  -    33WPM / 93%
// 4. @~Dash  -                               31WPM / 99%
// 5. @~I_am_Bright®™  -             32WPM / 94%
// 6. @~codegirl  -                          30WPM / 100%
// 7. @~Zeecool🏀  -                      30WPM / 98%
// 8. @~Miss Imade  -                     29WPM / 95%
// 9. @~Catherine  -                        25WPM / 93%
// 10. @~Emmanuel Udo™️  -        22WPM / 99%
// 11. @~Mubzy1st  -                     19WPM / 97%
// 12. @~Just  -                               20WPM / 86%
// 13. @~Chile  -                             6WPM / 74%
