.u-center-text {
    text-align: center;
}

.u-margin-bottom-xl {
    margin-bottom: 5rem;
}

.u-margin-bottom-m {
    // margin-bottom: 1rem;
}

.u-margin-bottom-s {
    margin-bottom: 1rem;
}

// ⭕ Start day: 19 Aug ⭕

// 5. @~Nzubechukwu -                36WPM / 98%
// 7. @~Jhohn -                      35WPM / 99%
// 1. @Anthonya DCTP StuBud -        33WPM / 93%
// 14. @~Dash  -                     31WPM / 99%
// 10. @~I_am_Bright®™ -             32WPM / 94%
// 3. @~codegirl -                   30WPM / 100%
// 2. @~Zeecool🏀 -                 30WPM / 98%
// 16. @~Emmanuel Udo™️ -             22WPM / 99%
// 4. @~Mubzy1st-                    19WPM / 97%
// 6. @~Chile -                      6WPM / 74%
// 8. @+234 905 695 7816             --WPM / --%
// 9. @~Hismyhilll  -                --WPM / --%
// 11. @+234 818 604 4384 -          --WPM / --%
// 12. @+234 810 937 7972  -         --WPM / --%
// 13. @~Catherine  -                --WPM / --%
// 15. @~Just  -                     --WPM / --%
// 17.