@use '../abstracts' as *;

.card {
    // FUNCTIONALITY
    position: relative;
    perspective: 100rem;
    -moz-perspective: 100rem;
    height: 34rem;

    &__side {
        position: absolute;
        top: 0;
        left: 0;
        height: 34rem;
        width: 100%;
        transition: all .8s ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: $border-radius-1;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgb($clr-black, .15);
        
        &--front {
            background-color: $clr-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $clr-secondary-light, $clr-secondary-dark);
            } 
            
            &-2 {
                background-image: linear-gradient(to right bottom, $clr-primary-light, $clr-primary-dark);
            } 
            
            &-3 {
                background-image: linear-gradient(to right bottom, $clr-tertiary-light, $clr-tertiary-dark);
            } 
        }
    }


    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
  
    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 14.37rem;
        background-blend-mode: screen;
        --webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1 {
            background-image: linear-gradient(to right bottom, $clr-secondary-light, $clr-secondary-dark), url(../img/nat-5.jpg);
        }
        
        &--2 {
            background-image: linear-gradient(to right bottom, $clr-primary-light, $clr-primary-dark), url(../img/nat-6.jpg);
            
        }
        
        &--3 {
            background-image: linear-gradient(to right bottom, $clr-tertiary-light, $clr-tertiary-dark), url(../img/nat-7.jpg);
        }
    }

    &__heading {
        font-size: $fs-600;
        text-transform: uppercase;
        color: $clr-white;
        position: absolute;
        top: 7.5rem;
        right: 1.25rem;
        text-align: right;
        width: 70%;
    }

    &__heading-span {
        padding: 10px .92rem;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(
                to right bottom,
                rgb($clr-secondary-light, .85), 
                rgb($clr-secondary-dark, .85))
        }
        
        &--2 {
            background-image: linear-gradient(
                to right bottom,
                rgb($clr-primary-light, .85), 
                rgb($clr-primary-dark, .85))
        }
        
        &--3 {
            background-image: linear-gradient(
                to right bottom,
                rgb($clr-tertiary-light, .85), 
                rgb($clr-tertiary-dark, .85))
        }
    }

    &__details {
        padding: 1.87rem;

        ul {
            list-style: none;
            width: 80%;
            margin-inline: auto;

            li {
                text-align: center;
                font-size: $fs-300;
                padding: .92rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $clr-grey-light-2;   
                }
            }
        }
    }

    // BACK SIDE STYLING
    &__cta {
        @include centerDiv;
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $clr-white;
        margin-bottom: 5rem;
    }

    &__price-only {
        font-size: $fs-200;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: $fs-900;
    }


    // FUNCTIONALITY
    // @include respond(tab-port) {
        @media only screen and (max-width: 56.25em),
                only screen and (hover: none) {
        height: auto;
        border-radius: $border-radius-1;
        background-color: $clr-white;
        box-shadow: 0 1.5rem 4rem rgb($clr-black, .15);

        &__side {
            height: auto;
            position: relative;
            top: 0;
            left: 0;
            box-shadow: none;
            
            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);

                // &-1 {
                //     background-image: linear-gradient(to right bottom, $clr-secondary-light, $clr-secondary-dark);
                // } 
                
                // &-2 {
                //     background-image: linear-gradient(to right bottom, $clr-primary-light, $clr-primary-dark);
                // } 
                
                // &-3 {
                //     background-image: linear-gradient(to right bottom, $clr-tertiary-light, $clr-tertiary-dark);
                // } 
            }
        }


        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__details {
            padding: .62rem 1.6rem;
        }

        // BACK SIDE STYLING
        &__cta {
            @include resetCenterDiv;
            width: 100%;
            padding: 4.37rem 2.5rem 2.5rem 2.5rem;
        }

        &__price-box {
            margin-bottom: 1.87rem;
        }


        &__price-value {
            font-size: $fs-800;
        }
    }
}