@use '../abstracts' as *;

.form {
    &__group:not(:last-child) {
        margin-bottom: 1.25rem;
    }
    
    &__input {
        font-size: $fs-300;
        font-family: inherit;
        color: inherit;
        padding: .93rem 1.25rem;
        border-radius: 2px;
        background-color: rgb($clr-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s;

        @include respond(tab-port) {
            width: 100%;
        }

        &:focus {
            outline: none;
            box-shadow: 0 .62rem 1.25rem rgb($clr-black, .1);
            border-bottom: 3px solid $clr-primary;
        }
        
        &:focus:invalid {
            border-color: $clr-secondary-dark;
        }
    
        &::placeholder {
            color: $clr-grey-dark-2;
        }
    }


    
    &__label {
        font-size: $fs-100;
        font-weight: $fw-700;
        margin-left: 1.25rem;
        margin-top: 7px;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        translate: 0 -40px;
    }


    // RADIO GROUP
    &__radio-group {
        width: 49%;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            margin-bottom: 1.25rem;
        }
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: $fs-400;
        position: relative;
        cursor: pointer;
        padding-left: 2.5rem;
    }

    &__radio-button {
        position: absolute;
        height: 1.87rem;
        width: 1.87rem;
        border: 5px solid $clr-primary;
        border-radius: 50%;
        display: inline-block;
        top: -4px;
        left: 0;

        &::after {
            @include centerDiv;
            content: '';
            display: inline-block;
            width: .8rem;
            height: .8rem;
            border-radius: 50%;
            background-color: $clr-primary;
            opacity: 0;
            transition: all .2s;
        }
    }
    
    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}