@use '../abstracts' as *;

.form {
    &__group:not(:last-child) {
        margin-bottom: 1.25rem;
    }
    
    &__input {
        font-size: $fs-300;
        font-family: inherit;
        color: inherit;
        padding: .93rem 1.25rem;
        border-radius: 2px;
        background-color: rgb($clr-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
    }

    &__input:focus {
        outline: none;
        box-shadow: 0 .62rem 1.25rem rgb($clr-black, .1);
        border-bottom: 3px solid $clr-primary;
    }
    
    &__input:focus:invalid {
        border-color: $clr-secondary-dark;
    }

    &__input::placeholder {
        color: $clr-grey-dark-2;
    }

    
    &__label {
        font-size: $fs-100;
        font-weight: $fw-700;
        margin-left: 1.25rem;
        margin-top: 7px;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        translate: 0 -40px;
    }
}