@use '../abstracts' as *;

html {
    font-size: 100%;
    
    @include respond(tab-land) {  // width < 1200
        font-size: 112%;  // 1 rem = 18px, 18/16 = 112%
    }

    @include respond(tab-port) { // width < 900
        font-size: 100%;  // 1 rem = 16px, 16/16 = 100%
    }

    @include respond(big-desktop) {
        font-size: 125%;  // 1 rem = 20px, 20/16 = 125%
    }
} 

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    padding: $padding-body;

    @include respond(tab-port) {
        padding: 0;
    }
}