@import '../abstracts';

body {
    font-family: $ff-body;
    font-size: $fs-400;
    font-weight: $fw-400;
    color: $clr-grey-dark;
    line-height: 1.7;
    padding: $padding-body;
}

.heading-primary {
    color: $clr-white;
    text-transform: uppercase;
    margin-bottom: 60px;

    /* To prevent child animated element from shaking effect at the end */
    backface-visibility: hidden;
    
    
    &--main {
        display: block;
        font-size: $fs-900;
        font-weight: $fw-400;
        letter-spacing: $spacing-heading-800;

        animation: moveInLeft 1s ease-in-out;
    }
    
    &--sub {
        display: block;
        font-size: $fs-500;
        font-weight: $fw-700;
        letter-spacing: $spacing-heading-500;
    }
}


.heading-secondary {
    display: inline-block;
    font-size: $fs-800;
    text-transform: uppercase;
    font-weight: $fw-700;
    background-image: linear-gradient(to right, $clr-primary-light, $clr-primary-dark);
    // background-clip: text;
    -webkit-background-clip: text;
    letter-spacing: 2px;
    color: transparent;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 5px 10px 20px rgb($clr-black, .2);
    }
}

.heading-tertiary {
    font-size: $fs-400;
    font-weight: $fw-700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $fs-400;

    &:not(:last-child) {
        margin-bottom: $fs-700;
    }
}