@use '../abstracts' as *;

.section-about {
    background-color: $clr-grey-light-1;
    padding-block: $padding-section-about;
    margin-top: -20vh;

    @include respond(tab-port) {
        padding-block: 14.5rem;
    }
}

.section-features {
    padding: $padding-section-features;
    background-image: linear-gradient(
        to right bottom, 
        $clr-green-light-transparent, 
        $clr-green-dark-transparent), 
        url(../img/nat-4.jpg);
    background-size: cover;
    background-position: top;
    margin-top: -5rem;

    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }

    @include respond(tab-port) {
        padding: 6.25rem 0;
    }
}

.section-tours {
    background-color: $clr-grey-light-1;
    padding: $padding-section-tours;
    margin-top: -6rem;

    @include respond(tab-port) {
        padding: 13rem 0 6rem 0;
    }
}

.section-stories {
    position: relative;
    padding: $padding-section-stories;

    @include respond(tab-port) {
        padding: 5rem 0;
    }
}

.section-book {
    padding: $padding-section-book;
    background-image: linear-gradient(to right bottom, $clr-primary-light, $clr-primary-dark);

    @include respond(tab-port) {
        padding: 5rem 0;
    }
}

.book {
    background-image: linear-gradient(
        100deg,  
        rgb($clr-white, .8) 50%, 
        transparent 50%), 
        url(/img/nat-10.jpg);
    background-size: cover;
    border-radius: $border-radius-1;
    box-shadow: 0 .93rem 2.5rem rgb($clr-black, .2);

    height: 32rem;

    &__form {
        width: 50%;
        padding: 3.7rem;
    }
}