.section-about {
    background-color: $clr-grey-light-1;
    padding-block: $padding-section-about;
    margin-top: -20vh;
}

.section-features {
    padding: $padding-section-features;
    background-image: linear-gradient(
        to right bottom, 
        $clr-green-light-transparent, 
        $clr-green-dark-transparent), 
        url(../img/nat-4.jpg);
    background-size: cover;
    background-position: top;
    margin-top: -5rem;

    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $clr-grey-light-1;
    padding: $padding-section-tours;
    margin-top: -6rem;
}

.section-stories {
    position: relative;
    padding: $padding-section-stories;
}

.section-book {
    padding: $padding-section-book;
    background-image: linear-gradient(to right bottom, $clr-primary-light, $clr-primary-dark);
}

.book {
    background-image: url(/img/nat-10.jpg);
    background-size: cover;
    border-radius: $border-radius-1;

    height: 30rem;
}