/* @import '../abstracts/variables.css'; */

.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: var(--padding-btn);
        display: inline-block;
        border-radius: var(--btn-border-radius);
        position: relative;
        
        transition: all 200ms ease-in-out;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgb(0 0 0 / .2);
    }
    
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgb(0 0 0 / .2);
    }
   
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: var(--btn-border-radius);
        z-index: -1;

        transition: all .4s;
    }

    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
    
    /* Animated Buttons */
    &.btn-animated {
        animation: moveInBottom .5s ease-in-out .5s;

        /* Apply the animation start before the delay timer trigers */
        animation-fill-mode: backwards;
    }

    /* White Buttons */
    &.btn-white {
        background-color: var(--clr-white);
        color: var(--clr-grey);

        &::after {
            background-color: var(--clr-white);
        }
    }
}
